NEXT_PUBLIC_SUPABASE_URL=https://cnjsugxtinobryxmqcmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuanN1Z3h0aW5vYnJ5eG1xY21kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTc5MTgsImV4cCI6MjEwNDk3MzkxOH0.ldIyaZwnfzmv-qlO88wQz8itw9RIV2bkdEtuDk9-cWk
ADMIN_SECRET=jaksel-m2-dev-secret
